.table-box{

    .table-unit{
        font-size: 13px;
        margin-bottom: 8px;
        display: flex;
        justify-content: end;
        
    }

    .table{
        border: 1px solid #cdd3dd;

        .table-row{
            display: flex;
            align-items: center;
            justify-content: center;

            >div{
                border-right: 1px solid #cdd3dd;
                border-bottom: 1px solid #cdd3dd;
                height: 38px;
                text-align: center;
                line-height: 38px;
                font-size: 14px;
                color: #192534;
                flex: 1;
                letter-spacing: -5%;
                &:last-child{
                    border-right: none;
                }
            }
            &:last-child{
                >div{
                    border-bottom: none;
                }
            }
        }
    }
}