@font-face {
  /*여기 폰트가 문제인가본데?*/
  font-family: "NanumBarunGothic";
  font-weight: 100;
  src: url(../assert/font/NanumBarunGothic/NanumBarunGothicUltraLight.otf) format("opentype"), url(../assert/font/NanumBarunGothic/NanumBarunGothicUltraLight.ttf) format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  src: url(../assert/font/NanumBarunGothic/NanumBarunGothicLight.otf) format("opentype"), url(../assert/font/NanumBarunGothic/NanumBarunGothicLight.ttf) format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 400;
  src: url(../assert/font/NanumBarunGothic/NanumBarunGothic.otf) format("opentype"), url(../assert/font/NanumBarunGothic/NanumBarunGothic.ttf) format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 700;
  src: url(../assert/font/NanumBarunGothic/NanumBarunGothicBold.otf) format("opentype"), url(../assert/font/NanumBarunGothic/NanumBarunGothicBold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../assert/font/roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../assert/font/roboto/Roboto-Medium.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  position: relative;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:after,
:before {
  display: block;
  width: 100%;
  left: 0;
  height: 1px;
  position: absolute;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

body {
  font-family: "NanumBarunGothic", "Roboto", sans-serif;
  font-size: 16px;
  color: #36363d;
  height: 100%;
}

#app {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123456;
  transition: 0.3s;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header-inner .logo {
  display: none;
}
.header-inner .gnb .mobile-gnb-btn {
  z-index: 99;
  display: none;
  position: fixed;
  right: 28px;
  top: 14px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  overflow: hidden;
}
.header-inner .gnb .mobile-gnb-btn .mobile-gnb-btn-line {
  transition: ease-in-out 0.5s;
  background-color: #fff;
  height: 3px;
  right: 0;
  top: 50%;
  border-radius: 1.5px;
  position: absolute;
  transform: translateY(-50%);
}
.header-inner .gnb .mobile-gnb-btn .mobile-gnb-btn-line:first-child {
  width: 21px;
  top: calc(50% - 8px);
}
.header-inner .gnb .mobile-gnb-btn .mobile-gnb-btn-line:nth-child(2) {
  width: 30px;
}
.header-inner .gnb .mobile-gnb-btn .mobile-gnb-btn-line:last-child {
  width: 15px;
  top: calc(50% + 8px);
}
.header-inner .gnb .gnb-ul {
  display: flex;
  gap: 60px;
  color: #fff;
}
.header-inner .gnb .gnb-ul .gnb-li {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.header-inner .gnb .gnb-ul .gnb-li:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.header.white {
  border-bottom: 1px solid #F5F5F5;
  background-color: #fff;
}
.header.white .logo {
  display: block;
}
.header.white .logo-w {
  display: none;
}
.header.white .gnb-ul {
  color: #36363D;
}
.header.white .gnb-li:hover::after {
  background-color: #36363D;
}
.header.white .mobile-gnb-btn .mobile-gnb-btn-line {
  background-color: #000;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section .obj-ani {
  opacity: 0;
  transform: translateY(60px);
  transition: ease 1.5s;
}
.section .obj-ani-on {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.section .application-box.obj-ani {
  transform: translateY(0) !important;
}
.section .application-box.obj-ani.obj-ani-on .left {
  right: 0 !important;
  opacity: 1 !important;
  transition-delay: 2s !important;
}
.section .application-box.obj-ani.obj-ani-on .phone {
  transform: translateY(0);
  opacity: 1 !important;
  transition-delay: 1.5s !important;
}
.section .text {
  transition-delay: 0.2s !important;
}
.section .btn {
  transition-delay: 0.4s !important;
}
.section .reason-li:first-child {
  transition-delay: 0.4s;
}
.section .reason-li:nth-child(2) {
  transition-delay: 0.6s;
}
.section .reason-li:nth-child(3) {
  transition-delay: 0.8s;
}
.section .reason-li:nth-child(4) {
  transition-delay: 1s;
}
.section .reason-li:hover {
  -webkit-animation: rotate 0.4s ease-in-out forwards;
          animation: rotate 0.4s ease-in-out forwards;
}
.section .wide-img {
  transition: ease-in-out 0.8s;
}

@-webkit-keyframes rotate {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 6deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -6deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 6deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -6deg;
  }
  100% {
    rotate: 0deg;
  }
}
.visual-sc {
  color: #fff;
  background-color: #7A5AF8;
  gap: 50px;
  text-align: center;
}
.visual-sc .visual-sub-title {
  margin-bottom: 5px;
}
.visual-sc .text {
  margin-bottom: 30px;
}

.reason-sc {
  gap: 30px;
}
.reason-sc .text {
  margin-bottom: 60px;
}
.reason-sc .reason-ul {
  display: flex;
  gap: 46px;
}
.reason-sc .reason-li {
  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.08));
  width: 280px;
  height: 280px;
  padding: 60px 40px;
}
.reason-sc .reason-li .quotation {
  color: #32D583;
  font-size: 70px;
}
.reason-sc .reason-li .reason-text {
  font-size: 21px;
  top: -40px;
  font-weight: 600;
  line-height: 1.5;
}

.application-sc {
  flex-direction: row;
  background-color: #fff;
  gap: 136px;
}
.application-sc .application-box {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.application-sc .application-box .section-title {
  margin-bottom: 25px;
}
.application-sc .application-box .text {
  margin-bottom: 50px;
}
.application-sc .application-box .card {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: 105.37px;
  width: 361px;
  height: 227px;
  color: #fff;
  border-radius: 20px;
}
.application-sc .application-box .card .left {
  transform: translateY(0) !important;
  display: flex;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 45px 40px;
  right: 100%;
  transition: all ease 1.5s;
  background-color: #7A5AF8;
  flex-direction: column;
  justify-content: center;
}
.application-sc .application-box .card .card-title {
  margin-bottom: 15.9px;
  font-size: 21px;
  font-weight: 600;
}
.application-sc .application-box .card .card-money {
  font-size: 32px;
  margin-bottom: 44.12px;
  font-weight: 600;
}
.application-sc .application-box .card .card-money .count-title {
  font-size: 28px;
  margin-right: 5px;
}
.application-sc .application-box .card .card-text {
  font-size: 14px;
  opacity: 0.8;
}
.application-sc .application-box .phone {
  opacity: 0;
  transform: translateY(100%);
  padding-left: 137.7px;
  transition: all ease 1s;
}

.team-sc {
  height: 1270px;
  padding: 0 20px;
  background-color: #7A5AF8;
  color: #fff;
  gap: 35px;
  text-align: center;
}
.team-sc .section-title {
  padding-top: 60px;
}
.team-sc .btn {
  margin: 15px 0;
}
.team-sc .wide-img {
  width: 5%;
  height: 640px;
  transition: all ease-in-out 1s;
  background-image: url(/Tax/assert/img/team.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1260px;
}
.team-sc .wide-img.wide-ani {
  width: 100%;
}

.team-sub-sc {
  background-color: #6938ef;
  width: 100%;
  height: 350px;
}
.team-sub-sc .sub-box {
  width: 764px;
  height: 100%;
  margin: 0 auto;
  gap: 17px;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  justify-content: center;
}
.team-sub-sc .sub-sc-title {
  font-size: 27px;
  font-weight: 600;
}
.team-sub-sc .text {
  margin-bottom: 21px;
}

.footer {
  background-color: #fff;
}
.footer .fnb {
  border-bottom: 1px solid #e0e0e0;
}
.footer .fnb .fnb-ul {
  display: flex;
  align-items: center;
  line-height: 89px;
  gap: 12px;
  font-size: 15px;
  font-weight: 600;
}
.footer .company-container {
  height: 380px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer .company-container .company {
  display: flex;
  gap: 91px;
  align-items: center;
}
.footer .company-container .company .logo {
  width: 140px;
}
.footer .company-container .company .logo img {
  margin: 0 auto;
}
.footer .company-container .company-info-row {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer .company-container .company-info-row .name {
  font-size: 15px;
  font-weight: 600;
  margin-right: 12px;
}
.footer .company-container .company-info-row .col-line {
  margin: 0 12px;
}
.footer .company-container .company .copyright {
  font-size: 14px;
  padding-top: 10px;
}
.footer .top-btn {
  width: 46px;
  height: 46px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  bottom: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1921px) {
  .reason-sc .reason-li {
    width: 330px;
    height: 330px;
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .section {
    height: auto;
    padding: 60px 25px;
  }
  .section.application-sc {
    flex-direction: column;
  }
  .visual-sc {
    padding-top: 140px;
  }
  .reason-sc .reason-ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reason-sc .reason-ul .reason-li {
    width: calc(50% - 25px);
    height: auto;
  }
  .team-sc .section-title {
    padding-top: 0;
  }
  .team-sc .wide-img {
    height: 35vh;
  }
  .team-sub-sc .sub-box {
    width: 100%;
  }
  .team-sub-sc .btn-box {
    width: 100%;
  }
  .team-sub-sc .btn-box .btn {
    padding: 0;
    flex: 1;
  }
}
@media (max-width: 768px) {
  .header .header-inner {
    height: 64px;
  }
  .header .header-inner .gnb.moblie-gnb {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0823529412);
  }
  .header .header-inner .gnb .mobile-gnb-btn {
    display: flex;
  }
  .header .header-inner .gnb .gnb-ul {
    display: none;
    right: -300px;
    top: 0;
    transition: ease-in-out 0.5s;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 80px;
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    padding: 94px 28px 0 35px;
  }
  .header .header-inner .gnb.moblie-gnb .mobile-gnb-btn .mobile-gnb-btn-line {
    background-color: #000;
  }
  .header .header-inner .gnb.moblie-gnb .mobile-gnb-btn .mobile-gnb-btn-line:first-child {
    position: absolute;
    width: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .header .header-inner .gnb.moblie-gnb .mobile-gnb-btn .mobile-gnb-btn-line:nth-child(2) {
    position: absolute;
    right: -30px;
  }
  .header .header-inner .gnb.moblie-gnb .mobile-gnb-btn .mobile-gnb-btn-line:last-child {
    position: absolute;
    width: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .header .header-inner .gnb.moblie-gnb .gnb-ul {
    right: 0;
  }
  .visual-sc {
    height: 100vh;
    gap: 32px;
    padding-top: 65px;
  }
  .visual-sc .visual-title {
    font-size: 30px;
  }
  .visual-sc .text {
    font-size: 14px;
  }
  .reason-sc .text {
    margin-bottom: 6px;
  }
  .reason-sc .reason-ul {
    gap: 12px;
  }
  .reason-sc .reason-ul .reason-li {
    width: 100%;
    padding: 25px 20px;
    font-size: 20px;
    text-align: center;
  }
  .reason-sc .reason-ul .reason-li .quotation {
    font-size: 48px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .reason-sc .reason-ul .reason-li .reason-text {
    top: 0;
    padding-top: 28px;
  }
  .application-sc {
    gap: 60px;
  }
  .application-sc .application-box .card {
    width: 211px;
    height: 133px;
    left: 20px;
    bottom: 70px;
  }
  .application-sc .application-box .card .left {
    padding: 25px 23px;
  }
  .application-sc .application-box .card .card-title {
    font-size: 15px;
    margin-bottom: 9px;
  }
  .application-sc .application-box .card .card-money {
    font-size: 21px;
    margin-bottom: 27px;
  }
  .application-sc .application-box .card .card-money .count-title {
    font-size: 18px;
  }
  .application-sc .application-box .card .card-text {
    font-size: 12px;
  }
  .application-sc .application-box .phone {
    padding-left: 112.7px;
  }
  .team-sc {
    gap: 24px;
  }
  .team-sub-sc {
    text-align: center;
  }
  .team-sub-sc .sub-box {
    align-items: center;
  }
  .team-sub-sc .sub-box .btn {
    flex: 1;
    max-width: 100%;
  }
  .footer {
    height: auto;
  }
  .footer .fnb .fnb-ul {
    line-height: 1;
    padding: 36px;
    flex-wrap: wrap;
  }
  .footer .company-container {
    height: auto;
  }
  .footer .company-container .company {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .footer .company-container .company .company-info-row {
    margin-bottom: 8px;
  }
  .footer .company-container .company .company-info-row .name {
    display: block;
    margin-bottom: 8px;
  }
  .footer .company-container .company .company-info-row .copyright {
    padding-top: 4px;
  }
  .footer .company-container .company .logo img {
    margin: 0;
  }
  .footer {
    padding-bottom: 50px;
  }
  .footer .company-info-row {
    font-size: 12px !important;
  }
  .footer .top-btn {
    width: 46px;
    height: 46px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    right: 25px;
  }
}
.pop-sub-text {
  font-size: 13px;
  color: #0F1B2A;
}
.pop-sub-text.line-grey {
  line-height: 43px;
  padding: 0 10px;
  background-color: #F8F9FB;
}
.pop-sub-text.file-guide {
  color: #414D5C;
}

.pop-text {
  font-size: 15px;
}

.pop-grey {
  color: #73777A;
}

.row {
  display: flex;
  align-items: center;
}

.pop-sub-title {
  font-size: 18px;
  display: inline-block;
  font-weight: 400;
}

.header .header-btn-box {
  display: flex;
  align-items: center;
  flex: 1;
}
.header .logout-btn-box {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
}
.header.pop-header {
  background-color: #fff;
}
.header.pop-header .header-inner {
  gap: 25px;
}
.header.pop-header .logo {
  display: block;
}
.header.pop-header .logo-w {
  display: none;
}
.header.pop-header .gnb-ul {
  color: #36363D;
}
.header.pop-header .gnb-li:hover::after {
  background-color: #36363D;
}
.header.pop-header .mobile-gnb-btn .mobile-gnb-btn-line {
  background-color: #000;
}
.header.pop-header .mobile-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 20px;
}

.pop-section {
  background-color: #fff;
}
.pop-section .max-container {
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 30px;
  gap: 20px;
}
.pop-section .max-container .back-btn {
  margin: 20px 0;
}
.pop-section .max-container .pop-section-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  max-width: 510px;
  margin: 0 auto;
}
.pop-section .max-container .pop-section-contents .pop-title {
  margin-bottom: 30px;
  display: inline-block;
  align-self: flex-start;
}

.tab-state {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
.tab-state .tab-num {
  width: 25px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #b5b6bb;
  color: #b5b6bb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}
.tab-state .tab-num.active {
  background-color: #5925DC;
  color: #fff;
  border: none;
}

.pop-max-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tab-box {
  flex-direction: column;
  gap: 20px;
  display: none;
}
.tab-box.active {
  display: flex;
}
.tab-box .search-list-box {
  border-top: 1px solid #CDD3DD;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tab-box .search-list-box > .pop-sub-text {
  color: #414D5C;
}
.tab-box .search-list-box .search-ul {
  max-height: 45vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tab-box .search-list-box .search-ul .search-li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #CDD3DD;
}
.tab-box .search-list-box .search-ul .row {
  gap: 7px;
}
.tab-box .search-list-box .search-ul .search-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.tab-box .search-list-box .search-ul .search-info .company-name {
  font-weight: 600;
}
.tab-box .search-list-box .search-ul .search-info .address {
  white-space: pre-wrap;
}
.tab-box .search-list-box .search-ul .search-pick {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #CDD3DD;
  background-color: #fff;
  height: 32px;
  width: 100%;
  max-width: 70px;
  cursor: pointer;
}
.tab-box .out-contents {
  border: 1px solid red;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.tab-box .certification-login-waiting {
  display: flex;
  flex-direction: column;
}
.tab-box .certification-login-waiting .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.tab-box .certification-login-waiting .indicator .dot {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7a5af8;
  border-radius: 50%;
}
.tab-box .certification-login-waiting .indicator .dot:first-child {
  -webkit-animation: indi 0.9s linear infinite;
          animation: indi 0.9s linear infinite;
}
.tab-box .certification-login-waiting .indicator .dot:nth-child(2) {
  -webkit-animation: indi 0.9s 0.3s linear infinite;
          animation: indi 0.9s 0.3s linear infinite;
}
.tab-box .certification-login-waiting .indicator .dot:last-child {
  -webkit-animation: indi 0.9s 0.6s linear infinite;
          animation: indi 0.9s 0.6s linear infinite;
}
.tab-box .certification-login-waiting .indicator-text {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

@-webkit-keyframes indi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes indi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.refund-box .pop-sub-text {
  display: inline-block;
  margin-bottom: 8px;
}
.refund-box .refund-amount {
  background-color: #F8F9FB;
  border: 1px solid #CDD3DD;
  font-size: 25px;
  padding: 30px 0;
  text-align: center;
  border-radius: 4px;
  line-height: 1.3;
}
.refund-box .refund-amount .purple {
  font-size: 30px;
  font-weight: 600;
}
.refund-box .refund-amount .count {
  font-size: 35px;
}

.tab-box .table-row > div:first-child {
  max-width: 30%;
}
.tab-box .table-row-header {
  background-color: #F8F9FB;
}

.link-box {
  background-color: #fff !important;
}
.link-box .pop-text {
  font-weight: 600;
}
.link-box .link-contents {
  display: flex;
  gap: 38px;
}
.link-box .link-contents .input-box {
  flex: 1;
}
.link-box .full-btn {
  max-width: 100%;
}
.link-box .link-clear {
  background-color: #F5F3FF;
  color: #7a5af8;
  border-color: #7a5af8;
  font-size: 14px;
}

.registration-box .pop-sub-text {
  display: inline-block;
  margin-bottom: 8px;
}
.registration-box .guide-box {
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.registration-box .guide-box .guide-text {
  font-size: 23px;
  text-align: center;
  line-height: 1.5;
}
.registration-box .guide-box .pop-text {
  font-weight: 600;
}
.registration-box .input-title {
  width: 60px;
}

.notice-ul {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
}

.notice-li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px 10px;
  border-top: 1px solid #CDD3DD;
}
.notice-li:last-child {
  border-bottom: 1px solid #CDD3DD;
}
.notice-li .notice-title {
  padding-right: 30px;
  line-height: 1.3;
  font-size: 14px;
  color: #0F1B2A;
}
.notice-li .notice-title img {
  display: inline-block;
  left: 4px;
}
.notice-li .notice-title .underscore {
  text-decoration: none;
}
.notice-li:hover .notice-title .underscore {
  text-decoration: underline;
}
.notice-li .notice-date {
  font-size: 11px;
  color: #8d99a8;
}
.notice-li .arrow-btn {
  position: absolute;
  border: none;
  background-color: #fff;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.notice-contents {
  border-bottom: 1px solid #CDD3DD;
}

.pop-inner-header {
  border-bottom: 1px solid #CDD3DD;
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px 10px;
  border-top: 1px solid #CDD3DD;
}
.pop-inner-header .pop-inner-header-title {
  padding-right: 20px;
  font-size: 14px;
  color: #0F1B2A;
  font-weight: 600;
}
.pop-inner-header .pop-inner-header-title img {
  display: inline-block;
  left: 4px;
}
.pop-inner-header .pop-inner-header-date {
  font-size: 11px;
  color: #8D99A8;
}

.pop-inner-contents {
  padding: 15px 10px;
  font-size: 13px;
  color: #404d5c;
}
.pop-inner-contents span {
  display: block;
}

.txt-14-600 {
  font-size: 14px;
  color: #192534;
  margin-bottom: 10px;
  font-weight: 600;
  display: block;
  line-height: 1.5;
}

.txt-14 {
  font-size: 14px;
  color: #192534;
  display: block;
  line-height: 1.5;
}

.txt-13 {
  font-size: 13px;
  color: #414D5C;
  display: block;
  line-height: 1.5;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-7 {
  margin-bottom: 7px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

table {
  font-size: 13px;
  width: 100%;
  border: 1px solid #CDD3DD;
  border-collapse: collapse;
  color: #414D5C;
}

thead {
  background-color: #EEF1F6;
  text-align: center;
}

th, td {
  border: 1px solid #CDD3DD;
  padding: 10px;
}

.com-info {
  border-top: 1px solid #CDD3DD;
  padding: 0 10px;
  line-height: 42px;
  font-size: 13px;
  font-weight: 600;
  background-color: #F8F9FB;
}

@media (max-height: 700px) {
  .pop-inner-contents {
    height: 45vh;
  }
}
@media (max-width: 1024px) {
  .header-inner .gnb .gnb-ul {
    gap: 18px;
  }
}
@media (max-width: 768px) {
  .pop-header {
    border-bottom: 1px solid #CDD3DD;
  }
  .pop-header .logo-box {
    display: none;
  }
  .pop-section .back-btn {
    display: none;
  }
  .pop-section .input-btn {
    padding: 0 !important;
    max-width: 80px;
  }
  .pop-section .pop-title {
    margin-bottom: 22px !important;
    font-size: 22px;
  }
  .pop-section .tab-state {
    display: none;
  }
  .refund-box .refund-amount {
    font-size: 20px;
    font-weight: 400;
  }
  .noinfo-sc .noinfo-txt {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .noinfo-sc .noinfo-title {
    margin-bottom: 0 !important;
  }
}
input {
  border: 1px solid #cdd3dd;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 13px;
  height: 42px;
}
input:hover {
  border: 1px solid #9B8AFB;
  outline: none;
}
input:focus {
  border: 1px solid #9B8AFB;
  outline: none;
}
input::-moz-placeholder {
  color: #8D99A8;
}
input:-ms-input-placeholder {
  color: #8D99A8;
}
input::placeholder {
  color: #8D99A8;
}
input:-moz-read-only {
  background-color: #F8F9FB;
}
input:read-only {
  background-color: #F8F9FB;
}

input[type=checkbox] {
  accent-color: #9482ff;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-title {
  font-size: 13px;
}

.input-contents {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 42px;
  flex: 1;
}
.input-contents input {
  flex: 1;
}
.input-contents .input-btn {
  font-size: 14px;
  padding: 0 38px;
  height: 42px;
  border-radius: 4px;
  font-weight: 400;
}
.input-contents .input-btn:hover {
  background-color: #7A5AF8 !important;
}

.survey-box {
  display: flex;
  flex-wrap: wrap;
  color: #0f1b2a;
}
.survey-box .survey-input {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 36px;
  align-items: center;
  padding-left: 16px;
}
.survey-box .survey-input.survey-input-title {
  width: 100%;
  border-bottom: 1px solid #CDD3DD;
}
.survey-box .survey-input input[type=date] {
  flex: 1;
  height: 28px;
  max-width: 120px;
}

@media (max-width: 768px) {
  .input-contents input {
    width: 100px;
  }
}
.table-box .table-unit {
  font-size: 13px;
  margin-bottom: 8px;
  display: flex;
  justify-content: end;
}
.table-box .table {
  border: 1px solid #cdd3dd;
}
.table-box .table .table-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-box .table .table-row > div {
  border-right: 1px solid #cdd3dd;
  border-bottom: 1px solid #cdd3dd;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  color: #192534;
  flex: 1;
  letter-spacing: -5%;
}
.table-box .table .table-row > div:last-child {
  border-right: none;
}
.table-box .table .table-row:last-child > div {
  border-bottom: none;
}

button {
  cursor: pointer !important;
  border: none;
  background-color: #fff;
}

button:disabled {
  cursor: none !important;
}

.btn {
  white-space: nowrap;
  background-color: #5925DC;
  border-radius: 10px;
  border: none;
  height: 64px;
  padding: 0 70px;
  max-width: 355px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  transition: opacity ease 1.5s, transform ease 1.5s !important;
}
.btn:hover {
  background-color: #9B8AFB !important;
}
.btn-box {
  display: flex;
  gap: 10px;
}
.btn-box button {
  flex: 1;
}

.btn-w {
  background-color: transparent;
  border: 1px solid #fff;
  height: 60px;
  font-size: 20px;
  padding: 0 50px;
}

.line-btn {
  height: 27px;
  border: 1px solid #cdd3dd;
  font-size: 13px;
  color: #73777A;
  border-radius: 20px;
  background-color: #fff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-btn:hover {
  background-color: #F8F9FB;
}

.purple-btn {
  color: #7a5af8;
  border: 1px solid #7a5af8;
}

.form-btn {
  height: 42px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
}
.form-btn:hover {
  background-color: #5925DC !important;
  color: #fff;
}

.sub-btn {
  font-size: 23px;
  max-width: 510px;
  height: 120px;
  width: 100%;
  padding: 0;
  border: 1px solid #CCCCCC;
  background-color: #fff;
  color: #5e6066;
}
.sub-btn:hover {
  border-color: #9B8AFB;
  background-color: #F5F3FF !important;
  color: #5925DC;
}

.kakao {
  background-color: #fee500;
  color: #000716;
  border: none;
  width: 100% !important;
  height: 120px !important;
  max-width: 100% !important;
  font-size: 21px !important;
}
.kakao:hover {
  border-color: none;
  background-color: #fee500 !important;
  color: #000716;
}

.logout-btn, .login-btn {
  background-color: #fff;
  border-radius: 20px;
  height: 27px;
  font-size: 14px;
  padding: 0 15px;
}

.visual-title {
  font-size: 60px;
  font-weight: 600;
}

.visual-sub-title {
  font-size: 20px;
}

.section-title {
  font-size: 50px;
  font-weight: 600;
}

.text {
  font-size: 23px;
  line-height: 1.5;
}

.pop-title {
  font-size: 32px;
  font-weight: 600;
}

.purple {
  color: #5925DC;
}

.grey {
  color: #5E6066;
}

.underscore {
  text-decoration: underline;
  text-underline-position: under;
}

.main {
  background-color: #F5F5F5;
}

.max-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 28px;
}

.col-line {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.border-box {
  background-color: #F8F9FB;
  border: 1px solid #CDD3DD;
  border-radius: 4px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.border-box button {
  max-width: 115px;
  padding: 0;
}

.windowHeight {
  position: fixed;
  background-color: #40a0c5;
  color: #fff;
  bottom: 0;
  left: 0;
  z-index: 123456789789;
  padding: 10px 25px;
}

.pc-hide {
  display: none !important;
}

.mobile-br {
  display: none !important;
}

@media (min-width: 1921px) {
  .visual-title {
    font-size: 80px;
    font-weight: 600;
  }
  .visual-sub-title {
    font-size: 30px;
  }
  .section-title {
    font-size: 65px;
    font-weight: 600;
  }
  .text {
    font-size: 33px;
  }
}
@media (max-width: 1024px) {
  .visual-title {
    font-size: 45px;
    font-weight: 600;
  }
  .visual-sub-title {
    font-size: 16px;
  }
  .section-title {
    font-size: 45px;
    font-weight: 600;
  }
  .text {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 0;
    width: 100%;
    max-width: 240px;
    height: 50px;
    font-size: 16px;
    margin: 0 auto;
  }
  .visual-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    line-height: 1.3;
  }
  .visual-sub-title {
    font-size: 14px;
    text-align: center;
  }
  .section-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  .text {
    font-size: 15px;
    text-align: center;
  }
  .mobile-hide {
    display: none !important;
  }
  .pc-hide {
    display: flex !important;
  }
  .mobile-br {
    display: block !important;
  }
  .pc-br {
    display: none !important;
  }
}